*{
    padding: 0%;
    margin: 0%;
}
body{
    text-align: center;
}
header{
    margin: 2rem;
    margin-bottom: 3rem;
}
.name{
    background-color: rgb(250, 224, 78);
    font-size: 3rem;
    text-shadow:0 0 10px rgb(203, 126, 126);
    padding: 0.8rem;
    border-radius: 2rem;
    border: 4px solid rgb(6, 214, 58);
    color: rgb(240, 11, 152);
}
.container{
    display: flex;
    justify-content: center;
    padding: 2rem;
}
.gameBox{

    background-color: aqua;
    height: 20rem;
    width: 20rem;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius:2rem;
}
.gameBoxBtn{
    height: 5rem;
    width: 5rem;
    margin: 0.2rem;
    border-radius:1rem;
    font-size: 4rem;
    box-shadow: 0 0 10px black;
    border: none;
}
.container-afterwin{
    height: 30rem;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.beforewin{
    display:none;
}
.afterwin{
    background-color: rgb(241, 241, 235);
    font-size: 2rem;
    height: 20rem;
    width:20rem;
    padding:1rem;
}
#winmsg{
    margin: 3rem;
    background-color: lightgreen;
    padding:1rem;
    border-radius:1rem;
}
.turnmsg{
    background-color: rgb(239, 243, 8);
    border:none;
    padding: 1rem;
    font-size:2rem;
    border-radius: 2rem;
}
#playAgain{
    margin: 1rem;
    background-color: aqua;
    font-size: 1.5rem;
    border:none;
    border-radius: 0.5rem;
    padding:0.5rem;
}
#reset{
    margin: 1rem;
    background-color: aqua;
    font-size: 1.5rem;
    border:none;
    border-radius: 0.5rem;
    padding:0.5rem;
}
button:hover{
    cursor: pointer;
    opacity: 80%;
    font-size: 3rem;
    box-shadow:0 0 5px black;
}

@media (max-width: 320px) {
    * {
      font-size:80%;
    }
  }
